@import url("style.css");

body{
    backdrop-filter: blur(5px);
    background-image: url("../images/bg_a.png");
    background-repeat: no-repeat; 
    background-size: 100%;  
    padding-bottom: 5%;
}

fieldset{
    position: relative;
    height: 90%;
    width: 90%;
    border-radius: 15px;
    background-color: rgba(245, 245, 245, 0.6);
}


body .add_c {
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.3);
    top: 10%;
    margin-left: 2%;
    padding-left: 1.5%;
    border-radius: 15px;
    box-shadow: 0 5px 10px black;
}

body .del_c {
    margin-top: 27%;
    width: 40%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 2%;
    padding-left: 1.5%;
    border-radius: 15px;
    box-shadow: 0 5px 10px black;
}

body .add_b {
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.3);
    top: 10%;
    left: 54%;
    padding-left: 2%;
    border-radius: 15px;
    box-shadow: 0 5px 10px black;
}

body .del_b {
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.3);
    top: 55%;
    margin-left: 54%;
    padding-left: 2%;
    border-radius: 15px;
    box-shadow: 0 5px 10px black;
}

form input{
    border-radius: 10px;
    background-color: white;
    border-color: white;
    margin-left: 5px;
}

form .bu{
    background-color: black;
    color: white;
    height: 25px;
    border: 0px;
}