@import url("style.css");

body {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
main {
  margin-top: 7%;
  display: block;
}
/* Style the form container */
form.register {
    max-width: 350px;
    margin: 0 auto;
    background-color: #abebf296;
    padding: 30px;
    padding-right: 50px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  }

  h2 {
    text-align: center;
    text-decoration: solid;
  }
  
  /* Style the form fields */
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: hwb(206 75% 1% / 0.647);
    box-shadow: 0 0 5px rgba(54, 141, 255, 0.579);
    margin-bottom: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
  
  input[type="text"]:focus,
  textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  }
  
  /* Style the submit button */
  input[type="submit"] {
    background-color: #0080ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.2s ease-in-out;
  }
  
  input[type="submit"]:hover {
    background-color: #005ce6;
  }
  