@import url(table.css);
/* Styles pour le corps de la page */

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 150%;
    background-color: #d3d3d3;
}

h1{
  text-align: center;
}

img 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul{
  list-style-type: none;
}



/* CSS for the Index and Gprojet pages */

.parag {
  text-align: justify;
  margin : 2%; 
  text-indent: 5%; 
}

.p_center {
  text-align: center;
  text-decoration: solid underline;
}

.h2-acc {
  margin-top: 5%;
  font-size: 130%;
  font-weight: bold;
  color: #a10202;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.h3-acc {
  margin-left: 7%;
  text-decoration: underline;
}

.h4-acc { 
  margin-left: 5%;
  font-size: 150%;
  font-style: italic  ;
}

button {
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  border: none;
  font-size: large;

}

.a-download-button {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}

.download-button {
  margin: 0 auto;
  width: 12%;
  left: 45%;
  border-radius: 10px;
  border: 0;
  background-color: rgb(32, 221, 64);
  color: black;
}

.blockgest {
  width:100%;
  height:auto;
  display:flex; 
}

.left
{
   width: 50%;
   margin: 1%;
   text-align: justify;
  float: left;
}

.right
{
  width: 50%;
   margin: 1%;
  text-align: justify;
  float: right;
}

#gantt-initial {
  width: 70%;
}

#gantt-final {
  width: 85%;
}

#node-red {
  width: 130%;
}

#node-pres {
  width: 65.5%;
  padding-left: 20%;
}

#grafana {
  width: 94.5%;
}


/* CSS Homepage */

.homepage {
  transform: translateY(100%);
  transition: transform 0.5s ease;
  text-align: center;
  justify-content: center;
  font-size: larger;
  height : 300px;
}

.homepage.active {
  transform: translateY(0);
  height: auto;
}

.content {
  opacity: 0;
  transition: opacity 0.5s ease;
  font-size: 0;
}

.content.active {
  opacity: 1;
  width: auto;
  height: auto;
  font-size: medium;
}

.b_index{
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: 100px;
  width: 10%;
  left: 45%;
  border-radius: 10px;
  border: 0;
  background-color: whitesmoke;
  color: black;
}

.b_index:hover{
  background-color: black;
  color: whitesmoke;
}

#scroll_b{
  position: fixed;
  height: 50px;
  width: 50px;
  display: none;
  left: 20%;
}

.sb{
  width: 50px;
  height: 50px;
}

nav {
    background-image: url("../images/bg_h.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
  }

  nav li{
    margin : 0px 10px;
  }

  .allign_right{
    margin-left: auto;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 10px;
    transition: all 0.3s ease;
  }
  
  nav a:last-child {
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 3px 8px;
  }
  
  nav a:hover {
    background-color: #fff;
    color: #333;
    border-radius: 5px;
  }


main section.Dashboard {
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

canvas {
  margin: 50px 0 50px;
}

/* the rolling down menu css */
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}


/* accordion buttons style (Batiment, salle) */
.accordion, .room {
  background-color: #eee;
  color: #2c2c2c;
  width: 80%;
  border-radius: 5px;
  padding: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  text-align: left;
  border: none;
}

/* buttons arrow style */
.accordion::after,
.room::after {
  content: '\25BC';
  float: right;
  margin-left: 5px;
}

.active::after {
  content: '\25B2';
}

.active, .accordion:hover, .room:hover {
background-color: #daf3ff;
}

.roomDiv{
  width: 46%;
  margin: 2%;
  float: left;
  justify-content: space-between;

}

.room{
  width: 100%;
}

.panel {
margin: 5px;
padding: 0 18px;
width: 75%;
margin-left: auto;
margin-right: auto;
background-color: #f7f5f5;
border-radius: 5px;
max-height: 0;
overflow: hidden;
}


/* admin css */
fieldset{
  position: relative;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 5px 10px black;
}

body .add_c {
  position: absolute;
  width: 45%;
  height: 25%;
  top: 30%;
  margin-left: 2%;
  padding-left: 1.5%;
  border-radius: 15px;
}

body .del_c {
  position: absolute;
  top: 60%;
  width: 46%;
  height: auto;
  margin-left: 2%;
  padding-left: 1.5%;
  border-radius: 15px;
  align-items: center;
}

body .add_b {
  position: absolute;
  width: 40%;
  height: 25%;
  top: 30%;
  left: 54%;
  padding-left: 2%;
  border-radius: 15px;
}

body .del_b {
  position: absolute;
  width: 40%;
  height: auto;
  top: 60%;
  margin-left: 54%;
  padding-left: 2%;
  border-radius: 15px;
}

body .updt_g {
  position: absolute;
  height: auto;
  width: 90%;
  left: 4%;
  margin: 5px;
  text-align: center;
}

/*gestion CSS*/

#bg{
  padding-left: 15px;
}

#gestion {
  display: none;
}

.gestion{
  position: fixed;
  right: 0;
  width: 15%;
  height: auto;
  margin-top: 30px;
}

.gestion label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;  
}

#filterButton{
  position: fixed;
  right: 0;
  height: 30px;
  border-radius: 5px;
  background-color: black;
  color: wheat;
}

#filterButton:hover {
  background-color: #333;
}

.block {
  width: 75%;
  margin-left: 5%;
  padding: 20px;
  padding-top: 10px;
  background-color: #ffffff4e;
  border-radius: 40px;
  margin-bottom: 15px;
}

.block .top_block {
  font-size: large;
}

.block .bot_block{
  font-size: medium;
}
