/* Importing the principal CSS file */
@import url("style.css");


table {
  width: 60%; /* Set the table width to 100% of its container */
  border-collapse: collapse; /* Collapse the table borders to avoid multiple borders*/
  font-family: Arial, sans-serif; 
  margin: auto;
}

/* Styling for table headers and table cells */
th,
td {
  padding: 8px;
  text-align: left; 
  border-bottom: 1px solid #ddd;
  width: 50%; 
}

/* Styling for table headers */
th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Styling for even rows (0,2,4...) */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Styling for odd rows (1,3,5...) */
tr:nth-child(odd) {
  background-color: #e4e4e4; /* Set the background color of odd rows to a slightly darker shade */
}
